*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
} 
body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #ffffff;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #222222;
}
.conter1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}
   
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding: 16px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    padding: 16px;
}

.group{
    Width: 44px;
}

.poisk{
    width: 26px;
}


.po12{
    width: 32px;
}

.ka{
    position: absolute;
    margin:-48px -19px 0px;
    width: 19px;
    filter: opacity(0%);
    color: #222222;
}

.piati{
    position: absolute;
    margin: -54px -23px 0px;
    width: 7px;
    color: #222222;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: #F1E4E6;
}
.conter{
    width: 500px;
    padding: 0px;
}

.zagalovok{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 0px;
    color: #222222;
    padding-top: 0px;
    width: 500px;
}

.zagalovok1{
    font-family: sans-serif;
    font-size: 38px;
    line-height: 50px;
    color: #222222;
}

.zagalovok2{
    padding: 10px;
    font-family: sans-serif;
    font-weight: 0;
    font-size: 38px;
    line-height: 18px;
    color: #F16D7F;
}

.cherta{
  position: absolute;
  Width: 12px;
}

article{
    display: flex;
    justify-content: center;
    padding: 65px;
}

.foto{
    justify-content: center;
    display: grid;
    Width: 1140px; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 30px;
}

.conterner{
    display: flex;
    justify-content: center;
    align-items: center;
}

s{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color:   rgba(241, 109, 127, 1);
    width: 100px;
}

.w1{
    display: flex;
    Width: 360px; 
}

.w2{
    grid-column: 1 / 4;
}

.w3{
    position: absolute;
    Width: 360px; 
}

.w4{
    position: absolute;
    
}

.w5{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    flex-direction: column
  
}

.w6{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    flex-direction: column
}

.acce{
    width: 1140px;
    background: rgba(33, 22, 22, 0.7);
}

main{
    display: grid;
    justify-content: center;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
}

.na1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.na2{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #9F9F9F;
}

.main1{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-template-rows: 1fr 1fr ;
    width: 360px;
    gap: 30px;
}

.rectangle{
    filter: opacity(0%);
    position: absolute;
}
.M21:hover{
    display: flex;
}

.rectangle:hover{
    filter: opacity(100%);
}

.M{
    flex-direction: column;
    gap: 16px;
    background: #F8F8F8;
}

h1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 16px;
}

p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 16px;
}

h3{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding: 16px;
}

.all{
    display: flex;
    justify-content: center;
   
}

.browse:hover{
    border: 0;
    height: 47px;
    width: 211px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 53px;
    color: #ffffff;
    background: #F16D7F;
}
.browse{
    border: 0;
    height: 47px;
    width: 211px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 53px;
    color: #F16D7F;
    background: #ffffff;
}


.po1:hover{
    width: 32px;
}

.but ul {
    display:none;
    height: 634px;
    width: 200px;
}

.but:hover ul{ 
    display:block; 
    position:absolute; 
    padding: 22px;
}

.but ul li {
    display:block;
    background: #ffffff;
    padding: 8px;
}

.but ul li:hover {
    color:#FFF; 
    background:#666;
}

.text_black{
    font-family: sans-serif ;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 15px;
    width: 122px;
}

.text_gray{
    font-family: sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    display: flex;
    padding-left: 15px;
    width: 122px;
}

.text_red{
    font-family: sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}



@media(max-width:768px) {
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 768px;
        align-content: space-evenly;
        height: 75px;
    }
    .logo{
        gap: 31px ;
        width: 169px;
    }
    .nav{
        display: flex;
        width: 372px;
        gap: 25px;
        justify-content: flex-end;
    }
    footer{

        width: 769.57px;
    }
    .meen{
        width: 386px;
    }
    .conter{
        padding: 40px;
        width: 230px;
    }
    .zagalovok{
        width: 359px;
        font-size: 40px;
        padding-top: 15px;
        padding-left: 26px;
        
    }
    .zagalovok1{
        width: 350px;
       font-size: 28px;
    }
    .zagalovok2{
      font-size: 28px;
      padding: 0;
    }
    .cherta{
        width: 12px;
        padding-top: 10px;
    }
    article{
        padding: 16px;
        width: 768px;
    }
    .foto{
        justify-content: center;
        display: grid;
        Width: 736px; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 19.9px;
        padding-top: 46px;
    }
    .w1{
        width: 232.39px;
    }
    .w5{
      
        font-family: sans-serif;
        font-style: normal;
        display: grid;
        justify-items: stretch;
        font-size: 15.5px;
        padding-top: 5px;
        
            
    }
    s{
        font-family: sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        width: 153.93px;
        font-size: 24px;
        padding-top: 5px;
        letter-spacing: 0px;
        font-weight: bold
    }
    .w3{
        width: 231.97px;
        margin: 0px -232px;
    }
    .w{
        width: 232px;
    }
    .w2{
        grid-auto-columns: 1fr; 
        grid-template-rows: 1fr; 
        grid-column: 1 / 4;
        width: 734.58px;
    }
    .w6{ 
      font-family: sans-serif;
        font-style: normal;
        display: grid;
        justify-items: stretch;
        font-size: 15.5px;
    }
    .w4{
        width: 734.58px;
        margin: 0px -735px;
    }
    .acce{
        width: 734.58px;
    }
    main{
        display: grid;
        padding: 16px;
        justify-content: start;
        padding-top: 40px;
    }
    .na1{
        padding: 5px;  
    }
    .na2{
        padding: 0px;  
    }
    .text{
        width: 735px;
        padding-bottom: 70px;
         
    }
    .main1{
        display: grid;
        grid-template-columns:  1fr 1fr  ;
        grid-template-rows: 1fr 1fr 1fr ;
        width: 360px;
        gap: 16px;  
        
        
    }
    .M{
        gap: 16px;
        
    }
    .ELLERY{
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        padding: 18px;
    }

    .KNOWN{
        font-family: sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        padding: 16px;
        padding-top: 0px;
    }

    
    .chena{
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
         padding: 18px;
        padding-top: 0px;

    }
    .hz{
        display: flex;
        width: 768px;
    }
    .hz2{
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
        margin-top: 15px;
    }
    .ka{
        filter: opacity(100%);
        position: absolute;
        margin:-25px -10px 0px;
        width: 19px;
        color: #F16D7F ;
    }
    .piati{
        position: absolute;
        margin:-25px -12px 0px;
        width: 7px;
        color: #FFFFFF;
    }
    .po1:hover{
        width: 32px;
    }
    
    .but ul {
        display:none;
        width: 250px;
    }
    
    .but:hover ul{
        display:block; 
        position:absolute; 
        padding: 22px;
    }
    
    .but ul li {
        display:block;
        background: #ffffff;
        padding: 4px;
    }
    
    .but ul li:hover {
        color:#FFF; 
        background:#f1e4e600;
    }
    
    .text_black{
        font-family: sans-serif ;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        color: #000000;

    }
    
    .text_gray{
        font-family: sans-serif ;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 8px;
        color: #6F6E6E;
        display: flex;
        

    }
    
    .text_red{
        font-family: sans-serif ;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #F16D7F;
    }
    .all{
    padding-top: 35px;
    }

}


@media(max-width:320px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 320px;
        align-content: space-evenly;
    }
    .logo{
        width:200px;
        padding: 0px;
    }
    .nav{
        display: flex;
        width: 111px;
        gap: 25px;
        justify-content: flex-end;
    }

    .cherta{
        width: 12px;
        padding-top: 20px;
    }
    .chel{
        display: none;
    }
    .ka{
        display: none;
    }
    .po12{
        display: none;
    }
    .meen{
        display: none;
    }
    .piati{
        display: none;
    }

    footer{
        display: flex;
        height: 363px;
        width: 320px;
        justify-content: center;
    }
    .conter{
        padding: 0px;
        width: 300px;    
    }
    .zagalovok{
        width: 320px;
        font-size: 40px;
        line-height: 40px;
    
   
      
        
    }
    .zagalovok1{
        width: 320px;
        font-size: 20px;
        
      
      
    }
    .zagalovok2{
       
        font-size: 20px;
        padding-top: 20px;
    }
    .cherta{
        width: 12px;
    }
    article{
        padding: 16px;
        width: 320px;
    }
    .foto{
        display: flex;
        flex-wrap: wrap;
 
        Width: 320px; 
        gap: 21px;
    }
    .w1{
        width: 300px;
    }
    .w5{
        width: 153.93px;
        margin: -100px 60px;
        font-family: sans-serif;
        font-style: normal;
        display: grid;
        justify-items: stretch;
    }
    s{
        font-family: sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        width: 153.93px;
    }
    .w3{
        width: 300px;
        margin: 0px -300px;
       
    }
    .w{
        width: 300px;
    }
    .w2{
        width: 300px;
    }
    .w6{ 
 
        width: 195.92px;
        margin: -48px 71px;
    }
    .w4{
        width: 300px;
        margin: 0px -300px;
    }
    .acce{
        width: 300px;
    }
    main{
        
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        width: 320px;
        
    }
    .text{
        width: 320px;
    }
    .main1{
        display: flex;
        width: 320px;
        flex-direction: column;
    }
    .M{
        width: 320px;
        gap: 16px;
    }
    .M21{
        width: 320px;
    }
    .hz{
        display: flex;
        width: 768px;
    }
    .hz2{
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
        margin-top: 15px;
    }
    .ka{
        filter: opacity(100%);
        position: absolute;
        margin:-25px -10px 0px;
        width: 19px;
        color: #F16D7F ;
    }
    .piati{
        position: absolute;
        margin:-25px -12px 0px;
        width: 7px;
        color: #FFFFFF;
    }
    .but ul {
        display:none;
        width: 133px;
    }
    
    .but:hover ul{
        display:block; 
        position:absolute; 
        padding: 22px;

    }
    .rectangle{
        width:320px ;
    }
    
    .but ul li {
        display:block;
        background: #ffffff;
        padding: 4px;
    }
    
    .but ul li:hover {
        color:#FFF; 
        background:#f1e4e600;
    }
    
    .text_black{
        font-family: sans-serif ;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        color: #000000;

    }
    
    .text_gray{
        font-family: sans-serif ;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 8px;
        color: #6F6E6E;
        display: flex;
        

    }
    
    .text_red{
        font-family: sans-serif ;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #F16D7F;
    }
    .all{
        display: flex;
        width: 320px;
        justify-content: center;
    }
}
